/* setting vars */
:root {
    --slategray: rgb(34, 45, 54);
    --aquadark: rgb(130, 194, 202);
}


/* site background, font, percentage parameters, and margins established - overflow hidden trying to figure out how to extend h1 background to edge*/
body {
    background-color:rgb(230, 234, 240);
    color: var(--slategray);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 100%;
    width: 100%;
    margin: 0;
}
/* Color and spacing around header element */
header {
    background-color: var(--slategray);
    padding: 20px;
}
/* situating navigation to the right side of header and setting it to "float" around with browser window size */
header nav {
    font-size: large;
    margin-right: 80px;
    float: right;
}
/* removing decoration from navigation and displaying horizontally in a way that allows height and width of the element to be changed */
header nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/* removing default link decoration and colors and altering underline to create a false underline in order to match example style */
header nav li a {
    color: var(--aquadark);
    text-decoration: none;
    border-bottom: 2px solid;
}
/* styling and setting up flexible position and horizontal display-style to align with navigation */
h1 {
    background-color: var(--aquadark);
    font-size: 40px;
    display: inline-block;
    position: relative;
}
/*still trying to extend background*/
 /* h1:before {
    content:"";
    background-color: var(--aquadark);
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
 } */

/* styling and situating for subheader */
h2 {
    background-color: var(--aquadark);
    position: absolute;
    bottom: 20px;
    right: 75px;
    font-size: xx-large;
    letter-spacing: 2px;
    font-stretch: ultra-condensed;
}

/* styling for section headers */
h3 {
    font-size: 40px;
    text-align: right;
    margin: 5%;
    width: 75%;
    border-right: 4px solid;
    color: var(--slategray)
}

p {
    margin: 5% 5% 5% 1%;
}

/* Flexible main banner image of site with opaque color gradient */
.hero { 
    background-image: linear-gradient(to bottom, rgba(56, 143, 243, 0.5), rgba(0, 50, 97, 0.500)), url("../assets/images/pexels-david-bartus-963278.jpeg");
    height: 25%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* assigning roles for grid container */
.aboutheader {grid-area: aboutheader;}
.aboutcontent {grid-area: aboutcontent;}
.workheader {grid-area: workheader;}
.workcontent {grid-area: workcontent;}
.contactheader{grid-area: contactheader;}
.contactinfo{grid-area: contactinfo}

/* setting spaces within grid container */
.grid-container {
    display: grid;
    grid-template-areas:
    "aboutheader aboutcontent aboutcontent aboutcontent" 
    "workheader  workcontent workcontent workcontent" 
    "contactheader contactinfo contactinfo contactinfo";
    grid-gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 4fr;
}



/* wip attempting to create lines next to menu elements */
/* .line {
    border-left: var(--slategray);
    height: 500px;
} */
/* wip to alter based on screen size for ease of user navigation */
/* @media (max-width: px) {

}

@media (max-width: px) {

} */